{% load static %}
<!DOCTYPE html>
<html >
  <head>
  <meta charset="UTF-8">
  <title>Trivia</title>
	<link rel="stylesheet" type="text/css" href="{% static "triviaApp/css/MainPage.css" %}"/>
	<script type='text/javascript' src="{% static "triviaApp/js/jquery-2.2.3.min.js" %}" ></script>
    <script type='text/javascript' src="{% static "triviaApp/js/jquery-ui.min.js" %}" ></script>

  	<script>
  		$("document").ready( function() {

  			// New game button handler
  			$("#new_game").click( function(){
  				window.location.href = '/triviaApp/pregame'
  			} );

  			$("#settings_button").click( function(){
  				window.location.href = '/triviaApp/settings'
  			} );


  		});

  	</script>
  </head>
  <body>
    <div id="main"></div>
		<div class="header">
			<div>World<span>Trivia	</span></div>
		</div>
		<br>
		<div class="login">			
				<input type="button" id="new_game" value="New Game">
				<br>
				<input type="button" id="settings_button" value="Settings">
		</div> 
  </body>
</html>
