
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Exo">
	<link rel="stylesheet" type="text/css" href="{% static "triviaApp/css/questions_style.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "triviaApp/css/TimeCircles.css" %}"/>
	<script type='text/javascript' src="{% static "triviaApp/js/jquery-2.2.3.min.js" %}" ></script>
    <script type='text/javascript' src="{% static "triviaApp/js/jquery-ui.min.js" %}" ></script>
    <script type='text/javascript' src="{% static "triviaApp/js/TimeCircles.js" %}" ></script>
	<script>
        function send_to_verifier(user_answer) 
        {

            $.ajax({
                    type: "POST",
                    url: "question_verifier/",
                    data: {
                        'user_answer' : user_answer,
                        'correct_answer' : '{{random_question.q_sol}}'
                    },
                    success: function( json ){
                        if( json.lives <= 0 )
                        {
                            $("#game_end").show( "slide", {direction: "up" }, 2000 );
                            $("#question_panel").hide();
                            $("#answers_cont").hide();

                            // When the game ends, the latest score is the current score
                            $("#final_score").html('{{score}}')

                            $("#l_table").html( json.html_code );

                        }
                        else { document.location.href = "/triviaApp/question/"; }
                    }

            });
        }

		$(document).ready(function()
        {
            var is_image = '{{qimage_href}}';
            if( is_image.length != 0 )
            {
                $("#image_id").show();
            }
            $("#main_menu, #mm").click( function() { document.location.href = "/triviaApp/"; } )
            $("#restart").click( function() { document.location.href = "/triviaApp/pregame"; } )
            $("#mm").click( function() { document.location.href = "/triviaApp/"; } )
            $("#CountDownTimer").TimeCircles( 
                { 
                "animation": "smooth",
                "bg_width": 0.4,
                "fg_width": 0.03,
                "circle_bg_color": "#293e6a",
                "time": 
                    { 
                    "Days": { show: false }, 
                    "Hours": { show: false }, 
                    "Minutes": { show: false },
                    "Seconds": {  color: "#ffffff" , text: "" , show: true} 
                    } 
                } 
            )
            .addListener( function(unit, value,total ){
                if( total == 0 )
                {
                    send_to_verifier("aosfhaslkfh9314h3nfoi[nsaodpu1-82ohrnf8hj2onrh89-1rhu2-r21hg12")
                }
            } 
            );
            $('#0,#1,#2,#3').click( function(e) {
                // Determine the user answer
                var p_answers = [];
                {% for ans in random_question.q_ans %}
                    p_answers.push('{{ ans }}');
                {% endfor %}

                var user_answer = p_answers[e.currentTarget.id];
                send_to_verifier(user_answer) 
                
            });

            $('#submit').click( function(e) {
                $.ajax({
                        type: "POST",
                        url: "results/",
                        data: {
                            'score' : '{{score}}',
                            'user' : $("#game_end_textbox").val(),
                            'pass' : $("#pass_game_end_textbox").val()
                        },
                        success: function( html_code ){
                            // The returned json is the leaderboard updated
                            $("#l_table").html( html_code );
                        }

                });
                
            });

    	});
	</script>
</head>
<body>
    <div id="main"></div>
    <div id="game_end">
            <h1>GAME OVER!</h1>
            <h1>Your score:</h1>
                <div id="final_score"></div>
                <span class="span_exp">If you wish to enter the leaderboard, please type your name in the box below</span><br>
                <span class="span_exp">Also type a password, if you will want to update your score in the future, you will need to use this password!</span>
                <br/><br/>
            <div id="textboxes_div">
                <div>
                     <label>Player Name</label>
                     <input type="text" id="game_end_textbox" />
               </div><br/><br/>
               <div>
                    <label>Password</label>
                    <input type="password" id="game_end_textbox" />
                 </div>    
            </div><br/><br/>
            <h1>Leaderboard</h1>
            <div id="l_table"></div>
        <div class="button_cont_end">
            <button id="main_menu" class="q_button">Main Menu</button>
            <button id="restart" class="q_button">Restart</button>
        </div>
        <button id="submit" style="position:absolute;left:50%;top:90%;transform: translate(-50%, 90%);" class="q_button">Enter Result</button>
    </div>
    <div class="desc_c" id="question_panel">
        <h1>{{ random_question.q_desc }}</h1>
        <img src="{{qimage_href}}" id="image_id" alt="" height="150" width="200" style="display:none;position:absolute;left:50%;transform: translateX(-50%);">
        <div id="lives" >Lives: {{ lives }} </div>
        <div id="score" >Score: {{ score }} </div>
        <div id="CountDownTimer" data-timer="{{timer_bound}}"></div>
    </div>
    
    <div class="button_cont" id="answers_cont">
            <button id="0" class="q_button">{{random_question.q_ans.0}}</button>
            <button id="1" class="q_button">{{random_question.q_ans.1}}</button>
            <button id="2" class="q_button">{{random_question.q_ans.2}}</button>
            <button id="3" class="q_button">{{random_question.q_ans.3}}</button>
    </div>
    <button id="mm" style="position:absolute;left:50%;top:70%;transform: translate(-50%, 70%);" class="q_button">Main Menu</button>
</body>
</html>