{% load static %}
<!DOCTYPE html>
<html >

  <head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Exo">
	<link rel="stylesheet" type="text/css" href="{% static "triviaApp/css/settings_style.css" %}"/>
	<script type='text/javascript' src="{% static "triviaApp/js/jquery-2.2.3.min.js" %}" ></script>
    <script type='text/javascript' src="{% static "triviaApp/js/jquery-ui.min.js" %}" ></script>

    <script>
    	$(document).ready( function()
        {
    		$("#apply_button").click( function() {
               $.ajax({
                        type: "POST",
                        url: "/triviaApp/setsettings/",
                        data: {
                            'timer_max' : $('#timer_slider').val(),
                            'lives' : $('#lives_slider').val(),
                        },
                        success: function(){
                            $("#settings_applied").show().delay(2000).fadeOut(1000);
                            
                        }

                });
    			
    		});
            $("#back_button").click( function() 
            {
               
               window.location.href = "/triviaApp/"
                
            });
            $(document).on('input', '#timer_slider', function() {
               $('#timer_span').html( $(this).val() );
            });
            $(document).on('input', '#lives_slider', function() {
               $('#lives_span').html( $(this).val() );
            });
            

    	} );
    </script>
    
  </head>

  <body>
        <div id="main"></div>
        <span id="settings_applied" style="z-index:3;display:none;color:white;position:absolute;left:50%;top:70%;font-size:35px;font-family: 'Exo', sans-serif;">Settings Applied!</span>
        <div class="header">
            <div style="color:white;">Options</div>
        </div>
        <br>
            <div id="settings">
                    <div class="options_set_div">
                        <h1> Game Options : Lower values equal more points</h1>
                        <div>
                            <label>Timer Max</label>
                            <input type="range" min="10" max="60" default="60" step="1" id="timer_slider" value="60"></input>
                            <span id="timer_span">60</span>
                        </div><br>
                        <div>
                            <label>Lives</label>
                            <input type="range" min="1" max="5" value="5" default="5" step="1" id="lives_slider" value="1"></input>
                            <span id="lives_span">5</span>
                        </div><br>
                        
                    </div>
            </div>  
            <div id="button_cont">
                <button id="apply_button" >Apply</button>
                <button id="back_button" >Back</button>
            </div>
  </body>
</html>
