<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Exo">
<span style="color:#fff;font-family: 'Exo', sans-serif;"> {{ password_validation }} </span>
<table id>
    <tr>
    	<th>Position</th>
        <th>Player</th>
        <th>Score</th>
    </tr>
    {% for item in leaderboard %}
    <tr> 
    	<td>{{ forloop.counter }}</td>
        <td>{{ item.player_name }}</td>
        <td>{{ item.player_score }}</td>
    </tr>
    {% endfor %}
</table>