


body{
    background-color: #E0E0E0;
    margin: 0;
    padding: 0;
    z-index: 0;
}

#main{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-image: url(http://ginva.com/wp-content/uploads/2012/07/city-skyline-wallpapers-008.jpg);
    background-size: cover;
    filter: blur(5px);
    z-index: 0;
}

.desc_c{
    position: relative;
    background-color: #0099CC;
    margin: 0 auto;
    width: 50%;
    height:250px;
    border: 1px solid #B6A954 ;
    padding: 50px;
    font-family: 'Exo', sans-serif;
    z-index: 0;
}
h1{
    text-align: center;
    font-size: 25px;
    font-color: white;
    color: white;
    font-family: 'Exo', sans-serif;
}
.button_cont{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width:926px;
    z-index: 0;

}
.button_cont_end{
    position: absolute;
    left: 50%;
    top:85%;
    transform: translate(-50%, 85%);
    width:926px;
    z-index: 2;

}
.q_button {
    margin-top: 10px;
    width: 460px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 1px;
    color: #0099CC;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
}

.q_button:hover {
    opacity: 0.8;
    background-color: #0099CC;
    color:#fff;
}

.q_button:active{
    opacity: 0.6;
}


#CountDownTimer{
    width:10%;
    position:absolute;
    left:90%;
    top:70%;
}

#score{
    position: absolute;
    right: 10%;
    background-color: #0099CC;
    width: 100px;
    font-family: 'Exo', sans-serif;
    padding: 25px;
    color: white;
    text-align: center;
}

#lives{
    position: absolute;
    left: 10%;
    background-color: #0099CC;
    width: 100px;
    color: white;
    padding: 25px;
    color: white;
    text-align: center;
}

#final_score {
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0099CC;
    width: 100px;
    font-family: 'Exo', sans-serif;
    font-size:45px;
    padding: 25px;
    color: white;
    text-align: center;
    z-index: 2;
}

.span_exp{
    position:relative;
    width: 100px;
    font-family: 'Exo', sans-serif;
    font-size:16px;
    padding: 25px;
    color: white;
    text-align: center;
    z-index: 2;
    left:15%;
}
#game_end{
    position: relative;
    display: none;
    top: 0;
    left: 12%;
    width: 75%;
    height:950px;
    background-color: #0099CC;
    border: 1px solid #B6A954;
    z-index: 2;
}


#textboxes_div input[type=text],input[type=password]{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

#textboxes_div label{
    position:absolute;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    left:30%;
}

#textboxes_div{
    position: relative;
    padding: 10px;
}

#l_table{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

th {
    font: bold 11px "Exo", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

th.nobg {
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #C1DAD7;
    background: none;
}

td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #0099CC;
    padding: 6px 6px 6px 12px;
    width:70px;
    color: white;
}


td.alt {
    background: #F5FAFA;
    color: #797268;
}

th.spec {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    font: bold 11px "Exo", Verdana, Arial, Helvetica, sans-serif;
}

th.specalt {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    font: bold 11px "Exo", Verdana, Arial, Helvetica, sans-serif;
    color: white;
}