@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

#main{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-image: url(http://ginva.com/wp-content/uploads/2012/07/city-skyline-wallpapers-008.jpg);
    background-size: cover;
    filter: blur(5px);
    z-index: 0;
}
#settings{
	background-color: #0099CC;
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 275px;
	width: 350px;
	padding: 10px;
    z-index: 2;
}


#button_cont{
    width:250px;
    position: absolute;
    top: calc(65% - 35px);
    left: calc(50% - 325px);
    z-index: 2;

}

.header{
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 255px);
    z-index: 2;
}

.header div{
    float: left;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 35px;
    font-weight: 200;
}

.header div span{
    color: #5379fa !important;
}

button {
    margin-top: 10px;
    width: 260px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 1px;
    color: #0099CC;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
}

button:hover {
    opacity: 0.8;
    background-color: #0099CC;
    color:#fff;
}

button:active{
    opacity: 0.6;
}

.options_set_div input[type=range]{
	position:absolute;
  	left:50%;
  	transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.options_set_div label{
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.options_set_div h1{
    color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 15px;
	font-weight: 400;
}

.options_set_div{
	position: relative;
	padding: 10px;
}

#timer_span,#lives_span{
	position:absolute;
  	left:85%;
  	transform: translateX(-85%);
    -webkit-transform: translateX(-85%);
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 17px;
	font-weight: 400;
}